@import '../base/variables';

.app-header {
  background: $main-color;
  padding: unit-space(1);
  color: #fff;
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

a {
  color: $alt-color;
}

.app-footer {
  .container {
    border-top: 1px solid $main-color;
    margin-top: unit-space(3);
    padding-top: unit-space(1);
    padding-bottom: unit-space(1);
  }
}
