@mixin body-copy {
  font-family: $body-font;
  font-size: $body-size;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: $body-line-height;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $text-color;
  em {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
}

@mixin large-body {
  @include body-copy;
  font-size: $body-size * 1.6;
  line-height: $body-line-height * 1.6;
}

@mixin title-type {
  font-family: $title-font;
  line-height: $title-line-height;
  font-size: $title-size;
  font-weight: 600;
  text-transform: uppercase;
}


