$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1224px;

// Titles styles
$title-font: 'Raleway', sans-serif;
$title-size: 32px;
$title-line-height: 40px;

// Body copy
$body-font: 'Raleway', sans-serif;
$body-size: 18px;
$body-line-height: 27px;

// Colors
$main-color: #626D8E;
$alt-color: #7CBFC4;
$action-color: #F46663;

$contrast-color: #CCCCCC;
$text-color: #515A77;
$title-color: #374056;

$bright-color: #FFC064;
$bright-color-alt: #D3D16C;
$calm-color: #A3DDE5;

@function unit-space($amount) {
  @return $amount * 20px;
}